[submodule "pomwa-contract"]
	path = contract
	url = https://github.com/JFKongphop/pomwa-contract.git
[submodule "ponwa-circuit"]
	path = circuit
	url = https://github.com/JFKongphop/pomwa-circuit.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/WTCHAI/zadelend-web.git
